#  Lab 2

#### Display you name and roll number

In [54]:
#Code here
print('Name: Leonard Umoru \nRoll Number: 041152507')

Name: Leonard Umoru
Roll Number: 041152507

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [55]:
st = 'Print only the words that start with s in this sentence'

In [56]:
#Code here
for s_words in st.split(' '):
  if s_words[0] == 's':
    print(s_words)

start
s
sentence

#### Write a Python program that takes a student's percentage and returns their grade based on the following criteria:



90% and above: A

80% to 89%: B

70% to 79%: C

60% to 69%: D

Below 60%: F

In [57]:
#Code here
def grade(value):
  if value >= 90:
    print('A')
  elif value >= 80 < 90:
    print('B')
  elif value >= 70 < 80:
    print('C')
  elif value >= 60 < 70:
    print('D')
  else:
    print('F')

grade(97)

A

#### Display all the even numbers from 0-100 using for loop

In [58]:
#Code here
for num in range(101):
  if num % 2 == 0:
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#### Use range() to print all the even numbers from 0 to 100

In [59]:
#Code Here
for num in range(0,101, 2):
  print(num, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

#### Use a List Comprehension to create a list of all numbers between 1 and 100 that are divisible by 3

In [60]:
#Code in this cell
num_list = []
for num in range(1,101):
  if num % 3 == 0:
    num_list.append(num)
print(num_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

#### Print all elements of a list using a for loop

Given the list numbers = [3, 5, 7, 9, 11], write a program that prints each element using a for loop.

In [61]:
#Code Here
numbers = [3, 5, 7, 9, 11]
for element in numbers:
  print(element)

3
5
7
9
11

#### Write a program to print multiplication table of  3

In [62]:
#Code here
for i in range(1,13):
  print(f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

_____
**Go through the string below and if the length of a word is even print "even!"**

In [63]:
st = 'Print every word in this sentence that has an even number of letters'

In [64]:
#Code in this cell
for word in st.split(' '):
  if len(word) % 2 == 0:
    print(word)

word
in
this
sentence
that
an
even
number
of

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [65]:
#Code in this cell
for integers in range(1, 101):
  if integers % 3 == 0 and integers % 5 == 0:
    print('FizzBuzz')
  elif integers % 3 == 0:
    print('Fizz')
  elif integers % 5 == 0:
    print('Buzz')
  else:
    print(integers)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [66]:
st = 'Create a list of the first letters of every word in this string'

In [67]:
#Code in this cell
ltr_list = []
for word in st.split(' '):
  letter = word[0]
  ltr_list.append(letter)
print(ltr_list)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!